{% extends 'main/template.html' %}
{% load static %}

{% block 'head' %}
    <link href="{% static "door2door/css/index.css" %}" rel="stylesheet" type="text/css" media="screen" />
{% endblock %}

{% block 'content' %}

    <h1>{{page_title}}</h1>

    <form method="post" action="{% url 'save_street' %}">
        {% csrf_token %}
        <input type="hidden" name="id" value="{{ pk|default:"" }}">
        {{ street.campaign_id }}
        {{ street.type_id }}
        <br>
        {{ street.name }}
        <br><br>
        <input type="button" value="Добавить" onclick="sendform(this, {'func_success': function(res, form) {form.id.value=res.data.id;} })">
    </form>

{% endblock %}